<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.weixin50">

    <!-- 允许程序打开网络套接字,使用2G、3G网络 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 安卓中自定义相机需要声明的权限 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- 打开照相机的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- android:noHistory="true" 如果设置这句，startActivityForResult无效 -->
        <activity android:name=".WeiXinDemoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity android:name=".fileproviderserver.FileProviderDemo" />
        <activity
            android:name=".fileproviderserver.FileSelectActivity"
            android:exported="true"
            android:label="@string/file_select">
            <intent-filter>
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity android:name=".camera.TakePictueActivity" />
        <activity android:name=".camera.MediaRecorderActivity" />
        <activity android:name=".trashcan.TakePicTestActivity" />
        <activity android:name=".camera.ShowPicAndPlayVideoActivity" />
        <activity
            android:name=".camera.TakePicAndVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".camera.ShootVideoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
        <activity
            android:name=".camera.VideoPreviewActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
        <activity android:name=".remotetest.ReceiveNotificationActivity"></activity>
    </application>

</manifest>